		</div>

		<footer>
			<p>
				©  {{ site.time | date: '%Y' }} L'équipe d'Eurythmia<br />
				Contenu du site sous la license CC BY-SA 3.0 Unported.<br />
				Ce site web est inspiré du <a href="http://minetest.net">site officiel de Minetest</a>.
			</p>
			<p>
				<a href="https://github.com/MT-Eurythmia/eurythmia-website">Site web développé sur GitHub.</a>
			</p>
		</fotter>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
                <script src="assets/js/bootstrap.min.js"></script>
	</body>
</html>
