		</div>

		<footer>
			<p>
				©  {{ site.time | date: '%Y' }} The Eurythmia Team<br />
				Site content under CC BY-SA 3.0 Unported.<br />
				This site is inspired from the <a href="http://minetest.net">Minetest officiel website</a>.
			</p>
			<p>
				<a href="https://github.com/MT-Eurythmia/eurythmia-website">Website developed at GitHub.</a>
			</p>
		</fotter>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
                <script src="/assets/js/bootstrap.min.js"></script>
	</body>
</html>
