body {
        font-family: sans-serif;
}

footer {
	text-align: center;
	padding: 3rem 0;
	margin-top: 3rem;
}

footer a {
        color: hsl(0, 0, 90%);
        text-decoration: none;
        transition: .15s;
}

footer a:hover, footer a:focus {
        color: hsl(0, 0, 80%);
        text-decoration: underline;
}

footer a:active {
        color: hsl(0, 0, 50%);
        text-decoration: underline;
}

.jumbotron {
        background-image: url("/media/banner.png");
        background-size: cover;
	border-radius: 0 !important;
	color: #FFF300;
	padding-top: 25vh;
	margin: 0 -15px !important;
	height: 100vh;
	min-height: 60rem;
        text-shadow: 0 0 .5rem #000;
        text-align: center;
}

.jumbotron.reduced {
        padding-top: 5rem;
        height: 25vh;
        min-height: 30rem;
}

.jumbotron h1, .jumbotron p {
        font-weight: bold;
}

.content {
        padding-top: 5rem;
}

.content img {
	display: block;
	margin: auto;
	max-width: 100%;
}
